node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
.cache/
.expo/
.expo-shared/
web-build/
.env
.env.local
.DS_Store
Thumbs.db
logs/
.vscode/
.idea/
*.swp
android/
ios/
*.apk
*.aab
coverage/
